<div class="credits">
    <div class="about-left-column">
        <h1>CREDITS</h1>
        <strong>Artist:</strong> Floating Point Collective <br>
        <strong>Project Leads:</strong> Genevieve Hoffman and Jack Kalish<br>
        <strong>Technical Director:</strong> Gabriella Levine<br>
        <strong>Fabrication:</strong> Sheet Metal Alchemist
     
        <h1>Thank you</h1>
        James R. Herman Memorial Committee<br>
        International Longshore and Warehouse Union<br>
        Harvey Schwartz and Robin Walker, Historical Consultation<br>
        San Francisco Port Commission<br>
        Autodesk at Pier 9<br>
        Turner Construction<br>
        Anne Rand Library, ILWU<br>
        KTOP - TV Channel 10<br>
        All of the generous donors that made this project possible
    </div>
    <div class="about-right-column">
        <h1>Images and Media courtesy of</h1>
        Anne Rand Library, International Longshore and Warehouse Union<br>
        Art Agnos<br>
        The Bancroft Library, University of California, Berkeley<br>
        Bob Fitch Photography Archive, Stanford University<br>
        Delancey Street Foundation<br>
        Patricia Goudvis<br>
        Port of San Francisco<br>
        San Francisco History Center, San Francisco Public Library<br>
        San Francisco Maritime National Historical Park<br>
        San Francisco Travel Association<br>
        The Seattle Times<br>
        The Working Group<br>
        War in the Pacific National Historical Park
        
        <!--<h1>Donors</h1>
        Art, Sherry, Chris & Stephen Agnos<br>
Autodesk Creative Workshop at Pier 9<br>
Blue & Gold Fleet<br>
Mayor Willie L. Brown<br>
Senator John L. Burton<br>
Larry E. Bush<br>
Coblentz, Patch, Duffy & Bass, LLP<br>
Delancey Street Foundation<br>
Al & Cheryl Falchi<br>
Melissa Farley<br>
Louis Giraudo & Berni Orsi<br>
Brad Grosz Family<br>
Lance Grosz Family<br>
IATSE Local 16<br>
ILWU Local 10 SF Bay Area<br>
ILWU Local 13 San Pedro<br>
ILWU Local 23 Washington<br>
ILWU Local 34 SF Bay Area<br>
ILWU Local 91 SF Bay Area<br>
ILWU Local 92 Portland<br>
ILWU Local 94 San Pedro<br>
ILWU Local 142 Hawaii<br>
The ILWU Coast Longshore Division<br>
Inlandboatman's Union of the Pacific<br>
International Longshore Warehouse Union<br>
International Organization of Masters, Mates & Pilots<br>
Leonard Carder LLP<br>
In honor of Lt. Gov Leo T. McCarthy & Mayor Art Agnos,
two men who proudly served San Francisco
McMillan Electric<br>
Victor & Farah Makras<br>
Marine Engineers Beneficial Association<br>
Honorable Nancy & Mr. Paul Pelosi<br>
Port of San Francisco<br>
Premier Structures Inc.<br>
Red & White Fleet<br>
Richie & Juana Ross<br>
In Memory of Stanley Y Sakuma ILWU<br>
San Francisco Bar Pilots<br>
San Francisco Giants<br>
Veronica Sanchez & Family<br>
TMG Partners<br>-->
    </div>
</div>