<strong>Artist:</strong> Floating Point Collective <br>
<strong>Project Leads:</strong> Genevieve Hoffman and Jack Kalish<br>
<strong>Technical Director:</strong> Gabriella Levine<br>
<strong>Fabrication:</strong> Sheet Metal Alchemists

<strong>Thank you<strong><br>
James R. Herman Memorial Committee<br>
International Longshore and Warehouse Union<br>
San Francisco Port Commission<br>
Autodesk at Pier 9<br>
Turner Construction<br>
Anne Rand Library, ILWU<br>
KTOP - TV Channel 10<br>
Individual Donor List<br>
