<div class="about">
    <div class="about-left-column">
        <p>
            The International Longshore and Warehouse Union (ILWU) was founded following a major 1934 West Coast waterfront strike.  It is headquartered in San Francisco.
        </p>
        <p> 
            Today, the ILWU represents over 40,000 workers who belong to 60 local unions and divisions located along the U.S. West Coast, and in Hawaii, Panama, and Canada. 20,000 longshore workers continue to work on the waterfront at twenty-nine West Coast ports. Other ILWU members are employed in a wide variety of other industries, including hotels and tourism, distribution and warehousing, mining, agriculture, maritime, and retail.
        </p>
        <p>
            The ILWU remains dedicated to helping workers achieve justice and respect.  The union is still guided by “Ten Principles” established over decades of difficult struggle which include the importance of democratic decision-making, membership involvement, respect for different points of view, and the belief that “an injury to one is an injury to all.”
        </p>
    </div>
    <div class="about-right-column">
        <h2>The Ten Guiding Principles of the ILWU</h2>
        <ul>I. A Union is built on its members.</ul>
        <ul>II. Labor unity is at all times the key for a successful economic advancement.</ul>
        <ul>III. Workers are indivisible.</ul>
        <ul>IV. "To help any worker in distress" must be a daily guide in the life of every trade union and its individual members.</ul>
        <ul>V. Any union, if it is to fulfill its appointed task, must put aside all internal differences and issues to combine for the common cause of advancing the welfare of the membership.</ul>
        <ul>VI. The days are long gone when a union can consider dealing with single employers.</ul>
        <ul>VII. Just as water flows to its lowest level, so do wages if the bulk of the workers are left unorganized.</ul>
        <ul>VIII. The basic aspiration and desires of the workers throughout the world are the same.</ul>
        <ul>IX. A new type of unionism is called for which does not confine its ambitions and demands only to wages</ul>
        <ul>X. Jurisdictional warfare and jurisdictional raiding must be outlawed by labor itself.</ul>
    </div>
</div>