<div class="about">

		<div class="about-left-column">
			<h2>About the Port of San Francisco</h2>
	        <p>
	        	The Port of San Francisco is governed by a five member Board of Commissioners, each of whom is appointed by the Mayor and subject to confirmation by the City's Board of Supervisors. Each commissioner is appointed to a four-year term. The Port Commission is responsible for the seven and one-half miles of San Francisco Waterfront adjacent to San Francisco Bay, which the Port develops, markets, leases, administers, manages, and maintains. Its jurisdiction stretches along the waterfront from Hyde Street Pier on the north to India Basin on the south. The Port’s operating portfolio is composed of over 550 ground, commercial, retail, office, industrial and maritime industrial leases, including many internationally recognized landmarks such as Fisherman’s Wharf, PIER 39, the Ferry Building, and AT&T Park, home of the San Francisco Giants baseball team.
	        	<div class="source">
	        		- Excerpt from the SF Port website
	        	</div>
	        </p>
	    </div>


	    <div class="about-right-column">
	        <h2>Jimmy’s Involvement on the Commission </h2>
			<p>
				Jimmy was first appointed to the San Francisco Port Commission by Mayor Dianne Feinstein in 1982. He served three consecutive terms. In 1996, he was again appointed to the commission by Mayor Willie L. Brown, Jr. He was a strong advocate for maritime business at the Port. During his term, Jimmy Herman lobbied for an additional cruise terminal on the S Francisco waterfront, and for the authority to continue to dredge the bay for maintaining commerce. These efforts have helped maintain the Port of San Francisco’s international maritime presence.
				<div class="source">
					- Excerpt from the “Visions of the Next Millenium: Port of San Francisco 1998 Annual Report”
				</div>
			</p>
		</div>

</div>