<!-- WDYSF QUOTE-->
<div id="wdysf_quotes">
    <div class="wdysf_quote">
        <div class="intro">
            <h1>Jimmy Herman on</h1>
            <h2>{{issuePages[issueId-1].title}}</h2>
        </div>
        <div class="quote">
            <div>{{issuePages[issueId-1].quote}}</div>
            <div id="year">{{issuePages[issueId-1].year}}</div>
            <div id="contButton" ui-sref="synopsis({issue:issueId})">Continue
                <img src="img/continue_arrow.png"/>
            </div>
        </div>
    </div>
</div>
