<!-- WDYSF QUOTE-->
<div id="section-detail">
    <div class="wdysf_synopsis" ng-repeat="issue in issuePages" ng-show="issue.id === issueId">
        <div class="visuals">

            <div class="photo">
                
                <img src="img/wdysf/{{issue.imageID}}.jpg">
                <div class="caption">{{issue.caption}}</div>

            </div>
        </div>
    <div class="sidebar">
        <div class="intro">
            <h1>Standing up for</h1>
            <h2>{{issue.title}}</h2>
        </div>
        <div class="description">
            <div>{{issue.description}}</div>
            <div id="backButton" ui-sref="issues" ng-click="clearCurrentIssue()">
                <div>
                    <img src="img/arrow_left.png" />
                    <p>Back</p>
                </div>
            </div>
        </div>
    </div>
</div>