<div id="wdysf">
    <header>
        <h2>What do <strong>you</strong> stand for?</h2>
        <div class="description">         
            <p>James R. Herman spent his life fighting for many social justice causes. <br>Select the issue that is most relevant to your life, and see the common ground that you and Herman share.</p>
        </div> 
    </header>
    <div id="wdysf_main">
        <div id="wdysfButton{{$index+1}}" ng-repeat="issue in issuePages" ui-sref="quote({issue:issue.id})" ng-click="setCurrentIssue(issue)">
            <span>{{issue.title}}</span>
        </div>
    </div>
</div>


