@mixin vCenter{
	display: table-cell;
	vertical-align: middle;
}

#timeline{
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	width: 6940px;
	.images{
		clear:both;
		height: 400px;
		.image{
			
			position: relative;
			@include shadowDown();
			display: inline-block;
			border:none;
			height: 400px;
			

			img{
				position: relative;
				border-right: 1px solid $light-grey;
				z-index: -2;
			}
		}
		.quote{
			padding: 0px 40px 0px 40px;
			background-color: rgba(185,185,185,.3);
			width: 520px;
			height: 400px;
			font-family: 'Futura';
			font-size: 44px;
			text-transform: uppercase;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			border-right: 1px solid $light-grey;
			white-space: normal;
		}
	}
	#events{
		clear:both;
		font-family: 'Futura';
		text-align: center;
		display: inline-block;
		float: left;
		position: relative;
		box-shadow: inset 0px 0px 40px 10px rgba(0,0,0,.8);

		$eventWidth: 400px;

		$arrowColor: $dark-grey;
		$arrowWidth: 30px;

		#arrow-left{
			transition: box-shadow 0.1s ease;
			transition: opacity 0.1s ease;
			transition: opacity 0.1s ease;
			position: fixed;
			height: 180px;
			padding: 0px 28px 0px 20px;
			background-color: $off-white;
			opacity: .96;
			box-shadow: 0px 0px 40px 10px rgba(0,0,0,.8);
			&:active{
				box-shadow: 0px 0px 5px 5px rgba(0,0,0,.8);
				opacity: 1;
				background-color: rgb(230,230,230);
			};
			.arrow{
				margin-top: 40px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px $arrowWidth 50px 0;
				border-color: transparent $arrowColor transparent transparent;
			}
		}

		#arrow-right{
			@extend #arrow-left;
			padding: 0px 20px 0px 28px;
			right: 0px;
			.arrow{
				border-width: 50px 0px 50px $arrowWidth;
				border-color: transparent transparent transparent $arrowColor;
			}
		}

		.text{
			height: 60px;
			background-color: rgba(0,0,0,.7);
			display: inline-block;
			clear:both;
			float: left;
			white-space: nowrap;
			overflow: auto;

			.event{
				font-size: 24px;
				color: $light-grey;
				width: $eventWidth*2;
				padding-top: 21px;
				display: inline-block;
				position: relative;
			}
		}
		.top{
			padding-left: $eventWidth;
		}

		.bottom{
			margin-left: 0;
			padding-right: $eventWidth;
		}
		#dates{
			display: inline-block;
			clear:both;
			float: left;
			width: 100%;
			white-space: nowrap;
			overflow: auto;
			height: 60px;
			font-size: 28px;
			background-color: rgba(255,255,255,.5);
			padding-left: $eventWidth/2;
			.date{
				line-height: 70px;
				height: 100%;
				width: $eventWidth;
				padding-top: 0px;
				display: inline-block;
				background-repeat: no-repeat;
				float:left;
			}
			.date-top{
				@extend .date;
				background-image: url("../img/timeline/up_arrow.png");
				background-position: bottom;

			}
			.date-bottom{
				@extend .date;
				background-image: url("../img/timeline/down_arrow.png");
				background-position: top;
			}
		}
	}
}