@mixin vCenter{
	display: table-cell;
	vertical-align: middle;
}

#timeline{
	display: inline-block;
	overflow: auto;
	white-space: nowrap;
	.images{
		clear:both;
		.image{
			display: inline-block;
			border:none;
			img{
				border-right: 1px solid white;
			}
		}
		.quote{
			background-color: $light-grey;
			width: 430px;
			height: 400px;
			font-family: 'Futura';
			font-size: 36px;
			text-transform: uppercase;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			border-right: 1px solid white;
			white-space: normal;
		}
	}
	#events{
		clear:both;
		width: 100%;
		font-family: 'Futura';
		text-align: center;

		$eventWidth: 400px;

		.base-event{
			width:$eventWidth;
			float:left;
		}

		.text{
			height: 60px;
			background-color: rgba(0,0,0,.5);
			line-height: 60px;
			.event{
				@extend .base-event;
				font-size: 24px;
				color: $light-grey;
				width: $eventWidth*2;
			}
		}
		.top{
			padding-left: $eventWidth/2;
		}

		.bottom{
			margin-left: -$eventWidth/2;
		}
		#dates{
			height: 60px;
			font-size: 28px;
			background-color: rgba(255,255,255,.5);
			.date{
				@extend .base-event;
				padding-top: 17px;
			}
		}
	}
}