@import '_colors';
@import '_fonts';
@import '_mixins';

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html{
	width: 100%;
	height: 100%;
}

.showCursor-false{
	cursor: none;
}

.showCursor-true{
	cursor: auto;
}

* {
    padding: 0;
    margin: 0;
    
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	background: url(../img/bg_water.jpg) no-repeat center center fixed;
	background-color: black;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	font-family: Futura;
  	height: 100%;

  	overflow: hidden;
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(../img/bg_water.jpg) no-repeat;
background-size: cover;
}

#offScreen {
	width:100%;
	height: 1200px;
	position: relative;
	z-index: 100;
	background: rgba(0,0,0,1);
}

#wrapper {
	width: 100%;
	height: 100%;
	#main-view{
		overflow-x: hidden;
		overflow-y: hidden;
		
	}
}

#timeoutWarning{
	z-index: 10;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: white;
    text-align: center;
    font-size: 30px;

    box-shadow: 0px 0px 50px #000;

    display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */   
}

header{
	h1{
		font-family: FuturaBold;
		color: $dark-grey;
		margin-top: 55px;
		margin-left: 180px;
		font-size: 61px;
		margin-bottom: 0;
	}
	h2{
		font-family: FuturaLT;
		font-size: 77px;
		text-align: right;
		margin-right: 210px;
		margin-top: 0;
		font-weight: lighter;
	}
	h3{
		text-align: center;
		font-size: 100px;
		font-weight: normal;
	}
	.message{
		background-color: rgba(0,0,0,.8);
		margin-top: 200px;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
		color: rgba(255,255,255,.9);
	}
}


#topLevelButtons{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

.sectionButton{
	width:485px;
	height: 680px;
	position: relative;
	margin: 20px 30px;
	box-shadow: 0px 0px 50px #888888;
	display: inline-block;

	span{
		position: absolute;
		width:80%;
   		bottom: 0;
   		left: -5px;
   		color: white;
   		font-size: 38px;
   		padding: 20px 37px;
   		text-transform: uppercase;
   		text-align: left;
	}

	&:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom left,rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%);
	}
}

video{
	z-index: -1;
	position: absolute;
	background-color: black;
}

#aboutPages{
	background-color: rgba(0,0,0,.8);
	width: 1920px;
	height: 1080px;
	color: white;
	font-size: 20px;

	h1 {
		text-transform: uppercase;
		font-size: 40px;
		margin-bottom: 10px;
		margin-top: 40px;
	}

	h2{
		font-family: FuturaBold;
		font-size: 20px;
		padding-top: 10px;
		text-transform: uppercase;
	}

	.aboutPage{
		padding: 50px;
	}

	.centered {
		line-height: 200%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		height: 970px;
		width: 1920px;
	}

	.credits{
		line-height: 30px;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-bottom: 120px;
	}

	.about-left-column {
		float: left;
		width: 45%;
	}

	.about-right-column {
		float: right;
		width: 45%;
	}

	.logo {
		/*background: url(../img/ilwu_logo.png) no-repeat;*/
		width: 362px;
		height: 362px;
		margin-bottom: 20px;
	}

	p {
		padding: 10px 0px;
	}

	.source{
		color: $light-grey;
		font-size: 15px;
	}

	ul {
		padding: 5px 0px;
	}

	br{

	}

	

}

#wdysf {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 50px;

	h2{
		font-family: FuturaLT;
		margin-bottom: 20px;
		margin-right: 309px;
		font-size: 96px;
		color: $dark-grey;
		strong{
			font-family: "FuturaItalic";
		}
	}

	.description{
		text-align: right;
		p{
			text-align: left;
			font-size: 28px;
			background-color: rgba(255,255,255,.5);
			width:950px;
			right: 0px;
			padding: 30px;
			padding-right: 100px;
			color: $dark-grey;
			display: inline-block;
		}
	}

	#wdysf_main {
		width: 100%;
		height: 995px;
		position: relative;
		padding-top: 80px;

		#wdysfButton1 {
			background: url(../img/wdysf_laborrights_alt.jpg);
			width:580px;
			height: 255px;
			position: relative;
			margin: 0px 5px 5px 0px;
			box-shadow: 0px 0px 50px #000;
			float:left;
			span{
				position: absolute;
		   		bottom: 0;
		   		right: 0;
		   		color: white;
		   		font-size: 38px;
		   		padding: 10px 20px;
		   		text-transform: uppercase;
			}

			&:before {
			    content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			}
		}

		#wdysfButton2 {
			@extend #wdysfButton1;
			background: url(../img/wdysf_rehabilitation.jpg);
			width: 650px;
		}

		#wdysfButton3 {
			@extend #wdysfButton1;
			background: url(../img/wdysf_econjustice.jpg);
			width: 680px;
			margin: 0px 0px 5px 0px;
		}

		#wdysfButton4 {
			@extend #wdysfButton1;
			background: url(../img/wdysf_civilrights.jpg);
			width: 630px;
		}

		#wdysfButton5 {
			@extend #wdysfButton1;
			background: url(../img/wdysf_affordablehousing.jpg);
			width: 640px;
		}

		#wdysfButton6 {
			@extend #wdysfButton1;
			background: url(../img/wdysf_intlsolidarity.jpg);
			width: 640px;
			margin: 0px 0px 5px 0px;
		}

		#ilwuButton1 {
			@extend #wdysfButton1;
			background: url(../img/ilwu_votingworkers.jpg);
			width: 640px;
			margin: 0px 0px 5px 0px;
		}

		#ilwuButton2 {
			@extend #wdysfButton1;
			background: url(../img/ilwu_womanlasher.jpg);
			width: 640px;
			margin: 0px 0px 5px 0px;
		}

		#ilwuButton3 {
			@extend #wdysfButton1;
			background: url(../img/ilwu_logo.jpg);
			width: 640px;
			margin: 0px 0px 5px 0px;
		}
	}
}

#wdysf_quotes {
	.wdysf_quote {
		background-color: rgba(0,0,0,.8);
		padding-top: -50px;
		.intro {
			width: 100%;
			height: 120px;
			padding: 40px 0px 0px 0px;
			text-align: center;
			background-color: rgba(255,255,255,0.9);
			h1 {
				position: relative;
	   			color: black;
	   			font-size: 24px;
	   			text-transform: uppercase;
			}
			h2{
				text-transform: uppercase;
				font-size: 38px;
			}
		}
		.quote {
			height: 900px;
			font-size: 3em;
			text-transform: uppercase;
			color: white;
			text-align: center;
			padding: 100px 100px;

			#year{
				font-size: 25px;
				opacity: .5;
			}

			#contButton {
				font-size: 36px;
				color: rgba(255, 255, 255, .8);
				width: 300px;
				height: 40px;
				margin: 50px auto;
				padding: 20px 0px 20px 5px;
				border: 1px solid rgba(255, 255, 255, .8);
				background-color: rgba(40,40,40,0.8);
			}
		}
	}	
}


footer{
	z-index: 1;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background: rgba(0,0,0,.85);
	color: white;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    .container{
    	width: 100%;
    	text-align: center;
    	padding-top: 25px;
		div{
			margin: 17px 70px;
			display: inline-block;
			*display: inline;
			text-align: center;
			font-size: 24px;
			opacity: .8;
		}
	}

	h1{
		font-family: FuturaBold;
		text-transform: uppercase;
		padding: 35px 0px 0px 50px;
		opacity: .8;
		display: inline-block;
		float: left;
		color: $light-grey;
	}

	.homeBtn{
		float: right;
		height: 100%;
		border-left: 1px solid rgba(255,255,255,.5);
		font-size: 28px;
		opacity: .5;
		line-height: 114px;
		padding: 0px 45px;
	}
}

@import '_home';
@import '_timeline';
@import '_section-detail';



