@font-face {
  font-family: Futura;
  src: url("fonts/Futura.ttf");
  src: local("Futura"), url("fonts/Futura.ttf") format("truetype"); }
@font-face {
  font-family: FuturaLT;
  src: local("Futura LT Light"), url("fonts/FuturLight.ttf") format("truetype"); }
@font-face {
  font-family: FuturaBold;
  src: local("Futura LT Pro"), url("fonts/FuturaLTPro-Bold.otf") format("opentype"); }
@font-face {
  font-family: "FuturaItalic";
  src: local("Futura"), url("fonts/FuturBooObl.ttf") format("truetype");
  /*  font-style: oblique;*/
  /*   src: url('fonts/FuturBooObl.ttf') format('truetype');*/ }
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

html {
  width: 100%;
  height: 100%; }

.showCursor-false {
  cursor: none; }

.showCursor-true {
  cursor: auto; }

* {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: url(../img/bg_water.jpg) no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Futura;
  height: 100%;
  overflow: hidden; }

video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../img/bg_water.jpg) no-repeat;
  background-size: cover; }

#offScreen {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 100;
  background: black; }

#wrapper {
  width: 100%;
  height: 100%; }
  #wrapper #main-view {
    overflow-x: hidden;
    overflow-y: hidden; }

#timeoutWarning {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 50px #000;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */ }

header h1 {
  font-family: FuturaBold;
  color: #141414;
  margin-top: 55px;
  margin-left: 180px;
  font-size: 61px;
  margin-bottom: 0; }
header h2 {
  font-family: FuturaLT;
  font-size: 77px;
  text-align: right;
  margin-right: 210px;
  margin-top: 0;
  font-weight: lighter; }
header h3 {
  text-align: center;
  font-size: 100px;
  font-weight: normal; }
header .message {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.9); }

#topLevelButtons {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }

.sectionButton {
  width: 485px;
  height: 680px;
  position: relative;
  margin: 20px 30px;
  box-shadow: 0px 0px 50px #888888;
  display: inline-block; }
  .sectionButton span {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: -5px;
    color: white;
    font-size: 38px;
    padding: 20px 37px;
    text-transform: uppercase;
    text-align: left; }
  .sectionButton:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom left, transparent 60%, black 90%); }

video {
  z-index: -1;
  position: absolute;
  background-color: black; }

#aboutPages {
  background-color: rgba(0, 0, 0, 0.8);
  width: 1920px;
  height: 1080px;
  color: white;
  font-size: 20px; }
  #aboutPages h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 40px; }
  #aboutPages h2 {
    font-family: FuturaBold;
    font-size: 20px;
    padding-top: 10px;
    text-transform: uppercase; }
  #aboutPages .aboutPage {
    padding: 50px; }
  #aboutPages .centered {
    line-height: 200%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 970px;
    width: 1920px; }
  #aboutPages .credits {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 120px; }
  #aboutPages .about-left-column {
    float: left;
    width: 45%; }
  #aboutPages .about-right-column {
    float: right;
    width: 45%; }
  #aboutPages .logo {
    /*background: url(../img/ilwu_logo.png) no-repeat;*/
    width: 362px;
    height: 362px;
    margin-bottom: 20px; }
  #aboutPages p {
    padding: 10px 0px; }
  #aboutPages .source {
    color: #b9b9b9;
    font-size: 15px; }
  #aboutPages ul {
    padding: 5px 0px; }

#wdysf {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px; }
  #wdysf h2 {
    font-family: FuturaLT;
    margin-bottom: 20px;
    margin-right: 309px;
    font-size: 96px;
    color: #141414; }
    #wdysf h2 strong {
      font-family: "FuturaItalic"; }
  #wdysf .description {
    text-align: right; }
    #wdysf .description p {
      text-align: left;
      font-size: 28px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 950px;
      right: 0px;
      padding: 30px;
      padding-right: 100px;
      color: #141414;
      display: inline-block; }
  #wdysf #wdysf_main {
    width: 100%;
    height: 995px;
    position: relative;
    padding-top: 80px; }
    #wdysf #wdysf_main #wdysfButton1, #wdysf #wdysf_main #wdysfButton2, #wdysf #wdysf_main #wdysfButton3, #wdysf #wdysf_main #wdysfButton4, #wdysf #wdysf_main #wdysfButton5, #wdysf #wdysf_main #wdysfButton6, #wdysf #wdysf_main #ilwuButton1, #wdysf #wdysf_main #ilwuButton2, #wdysf #wdysf_main #ilwuButton3 {
      background: url(../img/wdysf_laborrights_alt.jpg);
      width: 580px;
      height: 255px;
      position: relative;
      margin: 0px 5px 5px 0px;
      box-shadow: 0px 0px 50px #000;
      float: left; }
      #wdysf #wdysf_main #wdysfButton1 span, #wdysf #wdysf_main #wdysfButton2 span, #wdysf #wdysf_main #wdysfButton3 span, #wdysf #wdysf_main #wdysfButton4 span, #wdysf #wdysf_main #wdysfButton5 span, #wdysf #wdysf_main #wdysfButton6 span, #wdysf #wdysf_main #ilwuButton1 span, #wdysf #wdysf_main #ilwuButton2 span, #wdysf #wdysf_main #ilwuButton3 span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 38px;
        padding: 10px 20px;
        text-transform: uppercase; }
      #wdysf #wdysf_main #wdysfButton1:before, #wdysf #wdysf_main #wdysfButton2:before, #wdysf #wdysf_main #wdysfButton3:before, #wdysf #wdysf_main #wdysfButton4:before, #wdysf #wdysf_main #wdysfButton5:before, #wdysf #wdysf_main #wdysfButton6:before, #wdysf #wdysf_main #ilwuButton1:before, #wdysf #wdysf_main #ilwuButton2:before, #wdysf #wdysf_main #ilwuButton3:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%, black 100%); }
    #wdysf #wdysf_main #wdysfButton2 {
      background: url(../img/wdysf_rehabilitation.jpg);
      width: 650px; }
    #wdysf #wdysf_main #wdysfButton3 {
      background: url(../img/wdysf_econjustice.jpg);
      width: 680px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #wdysfButton4 {
      background: url(../img/wdysf_civilrights.jpg);
      width: 630px; }
    #wdysf #wdysf_main #wdysfButton5 {
      background: url(../img/wdysf_affordablehousing.jpg);
      width: 640px; }
    #wdysf #wdysf_main #wdysfButton6 {
      background: url(../img/wdysf_intlsolidarity.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #ilwuButton1 {
      background: url(../img/ilwu_votingworkers.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #ilwuButton2 {
      background: url(../img/ilwu_womanlasher.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #ilwuButton3 {
      background: url(../img/ilwu_logo.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }

#wdysf_quotes .wdysf_quote {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: -50px; }
  #wdysf_quotes .wdysf_quote .intro {
    width: 100%;
    height: 120px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); }
    #wdysf_quotes .wdysf_quote .intro h1 {
      position: relative;
      color: black;
      font-size: 24px;
      text-transform: uppercase; }
    #wdysf_quotes .wdysf_quote .intro h2 {
      text-transform: uppercase;
      font-size: 38px; }
  #wdysf_quotes .wdysf_quote .quote {
    height: 900px;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 100px 100px; }
    #wdysf_quotes .wdysf_quote .quote #year {
      font-size: 25px;
      opacity: .5; }
    #wdysf_quotes .wdysf_quote .quote #contButton {
      font-size: 36px;
      color: rgba(255, 255, 255, 0.8);
      width: 300px;
      height: 40px;
      margin: 50px auto;
      padding: 20px 0px 20px 5px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background-color: rgba(40, 40, 40, 0.8); }

footer {
  z-index: 1;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
  footer .container {
    width: 100%;
    text-align: center;
    padding-top: 25px; }
    footer .container div {
      margin: 17px 70px;
      display: inline-block;
      *display: inline;
      text-align: center;
      font-size: 24px;
      opacity: .8; }
  footer h1 {
    font-family: FuturaBold;
    text-transform: uppercase;
    padding: 35px 0px 0px 50px;
    opacity: .8;
    display: inline-block;
    float: left;
    color: #b9b9b9; }
  footer .homeBtn {
    float: right;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 28px;
    opacity: .5;
    line-height: 114px;
    padding: 0px 45px; }

#homeScreen #instruction {
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin-top: 10px;
  color: #141414;
  opacity: .5; }
#homeScreen #topLevelButtons {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }
#homeScreen .sectionButton {
  width: 450px;
  height: 650px;
  position: relative;
  margin: 20px 10px;
  box-shadow: 0px 0px 50px #888888;
  display: inline-block;
  background-position: center; }
  #homeScreen .sectionButton span {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: -5px;
    color: white;
    font-size: 38px;
    padding: 20px 37px;
    text-transform: uppercase;
    text-align: left; }
  #homeScreen .sectionButton:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom left, transparent 60%, black 90%); }

#timeline {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 5550px; }
  #timeline .images {
    clear: both;
    height: 400px; }
    #timeline .images .image {
      position: relative;
      transition: box-shadow 0.1s ease;
      box-shadow: 0px 0px 0px 0px transparent, inset 0px 0px 40px 10px rgba(255, 255, 255, 0.8);
      z-index: 1;
      display: inline-block;
      border: none;
      height: 400px; }
      #timeline .images .image:active {
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.8), inset 0px 0px 40px 10px rgba(255, 255, 255, 0.8);
        z-index: 666; }
      #timeline .images .image img {
        position: relative;
        border-right: 1px solid #b9b9b9;
        z-index: -2; }
    #timeline .images .quote {
      padding: 0px 40px 0px 40px;
      background-color: rgba(185, 185, 185, 0.3);
      width: 350px;
      height: 400px;
      font-family: 'Futura';
      font-size: 44px;
      text-transform: uppercase;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid #b9b9b9;
      white-space: normal; }
  #timeline #events {
    clear: both;
    font-family: 'Futura';
    text-align: center;
    display: inline-block;
    float: left;
    position: relative;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 0.8); }
    #timeline #events #arrow-left, #timeline #events #arrow-right {
      transition: box-shadow 0.1s ease;
      transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
      position: fixed;
      height: 180px;
      padding: 0px 28px 0px 20px;
      background-color: #dadada;
      opacity: .96;
      box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.8); }
      #timeline #events #arrow-left:active, #timeline #events #arrow-right:active {
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
        opacity: 1;
        background-color: #e6e6e6; }
      #timeline #events #arrow-left .arrow, #timeline #events #arrow-right .arrow {
        margin-top: 40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 30px 50px 0;
        border-color: transparent #141414 transparent transparent; }
    #timeline #events #arrow-right {
      padding: 0px 20px 0px 28px;
      right: 0px; }
      #timeline #events #arrow-right .arrow {
        border-width: 50px 0px 50px 30px;
        border-color: transparent transparent transparent #141414; }
    #timeline #events .text {
      height: 60px;
      background-color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      clear: both;
      float: left;
      white-space: nowrap;
      overflow: auto; }
      #timeline #events .text .event {
        font-size: 24px;
        color: #b9b9b9;
        width: 720px;
        padding-top: 21px;
        display: inline-block;
        position: relative; }
    #timeline #events .top {
      padding-left: 0;
      padding-right: 720px; }
    #timeline #events .bottom {
      padding-left: 360px;
      padding-right: 720px; }
    #timeline #events #dates {
      display: inline-block;
      clear: both;
      float: left;
      width: 100%;
      white-space: nowrap;
      overflow: auto;
      height: 60px;
      font-size: 28px;
      background-color: rgba(255, 255, 255, 0.5);
      padding-left: 180px; }
      #timeline #events #dates .date, #timeline #events #dates .date-top, #timeline #events #dates .date-bottom {
        line-height: 70px;
        height: 100%;
        width: 360px;
        padding-top: 0px;
        display: inline-block;
        background-repeat: no-repeat;
        float: left; }
      #timeline #events #dates .date-top {
        background-image: url("../img/timeline/up_arrow.png");
        background-position: bottom; }
      #timeline #events #dates .date-bottom {
        background-image: url("../img/timeline/down_arrow.png");
        background-position: top; }

#section-detail {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0px;
  height: 1080px;
  margin: 0 auto; }
  #section-detail #push-down {
    width: 100%;
    height: 200px; }
  #section-detail .visuals {
    display: inline-block;
    text-align: center;
    width: 1320px; }
    #section-detail .visuals .photo {
      margin-top: 50px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }
      #section-detail .visuals .photo img {
        box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2); }
    #section-detail .visuals #quote {
      color: white;
      font-size: 120px;
      text-transform: uppercase;
      width: 1100px;
      display: table-cell;
      vertical-align: middle;
      text-shadow: 0em 0em 0.6em rgba(255, 255, 255, 0.5); }
    #section-detail .visuals .caption {
      position: relative;
      color: white;
      display: block;
      text-align: right;
      margin-top: 10px;
      font-size: 20px; }
  #section-detail .visuals.ilwu {
    width: 1000px; }
  #section-detail .sidebar {
    float: right;
    width: 600px;
    color: white;
    margin-top: 50px; }
    #section-detail .sidebar .intro {
      margin-bottom: 10px; }
      #section-detail .sidebar .intro h1 {
        text-transform: uppercase;
        font-size: 24px; }
      #section-detail .sidebar .intro h2 {
        text-transform: uppercase;
        font-size: 38px; }
    #section-detail .sidebar .description {
      margin-top: 0px;
      font-size: 1.5em;
      line-height: 40px;
      width: 500px; }
      #section-detail .sidebar .description ol {
        list-style-type: upper-roman; }
      #section-detail .sidebar .description #sources {
        margin-top: 40px;
        font-size: 10px;
        color: #b9b9b9; }
        #section-detail .sidebar .description #sources h1 {
          text-transform: uppercase;
          margin: 0px;
          padding: 0px;
          line-height: 25px; }
        #section-detail .sidebar .description #sources .source {
          font-style: italic;
          line-height: 20px;
          font-size: 15px; }
      #section-detail .sidebar .description #backButton {
        font-size: 34px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        width: 180px;
        height: 35px;
        margin: 50px 0px;
        padding: 20px 0px 20px 0px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        background-color: rgba(40, 40, 40, 0.8); }
        #section-detail .sidebar .description #backButton img {
          padding: 0px 20px;
          float: left; }
        #section-detail .sidebar .description #backButton p {
          width: 200px; }
  #section-detail .sidebar.ilwu {
    width: 900px; }
    #section-detail .sidebar.ilwu .description {
      width: 770px; }

#section-detail.ilwu.visuals {
  width: 1000px; }
