.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

html {
  width: 100%;
  height: 100%; }

.showCursor-false {
  cursor: none; }

.showCursor-true {
  cursor: auto; }

* {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: Futura;
  src: url("fonts/Futura.ttf");
  src: local("Futura"), url("fonts/Futura.ttf") format("truetype"); }
@font-face {
  font-family: Futura LT Light;
  src: url("fonts/FuturLight.ttf");
  src: local("Futura LT Light"), url("fonts/FuturLight.ttf") format("truetype"); }
body {
  background: url(../img/bg_water.jpg) no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Futura;
  height: 100%;
  overflow: hidden; }

#offScreen {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 100;
  background: black; }

#wrapper {
  width: 100%;
  height: 100%; }
  #wrapper #main-view {
    overflow-x: scroll;
    overflow-y: hidden; }

#timeoutWarning {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */ }

header h1 {
  margin-top: 55px;
  margin-left: 180px;
  font-size: 61px;
  margin-bottom: 0; }
header h2 {
  font-family: Futura;
  font-size: 77px;
  text-align: right;
  margin-right: 210px;
  margin-top: 0;
  font-weight: lighter; }
header h3 {
  text-align: center;
  font-size: 100px;
  font-weight: normal; }
header .message {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.9); }

#topLevelButtons {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }

.sectionButton {
  width: 486px;
  height: 686px;
  position: relative;
  margin: 20px 10px;
  box-shadow: 0px 0px 50px #888888;
  display: inline-block; }
  .sectionButton span {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: -5px;
    color: white;
    font-size: 38px;
    padding: 20px 30px;
    text-transform: uppercase;
    text-align: left; }
  .sectionButton:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom left, transparent 0%, black 100%); }

video {
  z-index: -1;
  position: absolute;
  background-color: black; }

#aboutPages {
  background-color: rgba(0, 0, 0, 0.8);
  width: 1920px;
  height: 1080px;
  color: white; }
  #aboutPages .aboutPage {
    padding: 50px;
    /*		width: 960px;*/ }
  #aboutPages .credits {
    line-height: 200%; }
  #aboutPages .about-left-column {
    float: left;
    width: 45%; }
  #aboutPages .about-right-column {
    float: right;
    width: 45%; }
  #aboutPages .logo {
    /*background: url(../img/ilwu_logo.png) no-repeat;*/
    width: 362px;
    height: 362px; }
  #aboutPages p {
    padding: 20px 0px;
    font-size: 1.5em; }
  #aboutPages ul {
    padding: 5px 0px;
    font-size: 1.3em; }
  #aboutPages h1 {
    text-transform: uppercase;
    font-size: 2.2em; }
  #aboutPages h2 {
    padding-top: 10px; }

#wdysf {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px; }
  #wdysf #wdysf_main {
    width: 100%;
    height: 995px;
    position: relative;
    padding-top: 140px; }
    #wdysf #wdysf_main #wdysfButton1, #wdysf #wdysf_main #wdysfButton2, #wdysf #wdysf_main #wdysfButton3, #wdysf #wdysf_main #wdysfButton4, #wdysf #wdysf_main #wdysfButton5, #wdysf #wdysf_main #wdysfButton6 {
      background: url(../img/wdysf_laborrights_alt.jpg);
      width: 580px;
      height: 255px;
      position: relative;
      margin: 0px 5px 5px 0px;
      box-shadow: 0px 0px 50px #888888;
      float: left; }
      #wdysf #wdysf_main #wdysfButton1 span, #wdysf #wdysf_main #wdysfButton2 span, #wdysf #wdysf_main #wdysfButton3 span, #wdysf #wdysf_main #wdysfButton4 span, #wdysf #wdysf_main #wdysfButton5 span, #wdysf #wdysf_main #wdysfButton6 span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 38px;
        padding: 10px 20px;
        text-transform: uppercase; }
      #wdysf #wdysf_main #wdysfButton1:before, #wdysf #wdysf_main #wdysfButton2:before, #wdysf #wdysf_main #wdysfButton3:before, #wdysf #wdysf_main #wdysfButton4:before, #wdysf #wdysf_main #wdysfButton5:before, #wdysf #wdysf_main #wdysfButton6:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%, black 100%); }
    #wdysf #wdysf_main #wdysfButton2 {
      background: url(../img/wdysf_rehabilitation.jpg);
      width: 650px; }
    #wdysf #wdysf_main #wdysfButton3 {
      background: url(../img/wdysf_econjustice.jpg);
      width: 680px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #wdysfButton4 {
      background: url(../img/wdysf_civilrights.jpg);
      width: 630px; }
    #wdysf #wdysf_main #wdysfButton5 {
      background: url(../img/wdysf_affordablehousing.jpg);
      width: 640px; }
    #wdysf #wdysf_main #wdysfButton6 {
      background: url(../img/wdysf_intlsolidarity.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }

#wdysf_quotes .wdysf_quote {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: -50px; }
  #wdysf_quotes .wdysf_quote .intro {
    width: 100%;
    height: 120px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); }
    #wdysf_quotes .wdysf_quote .intro h1 {
      position: relative;
      color: black;
      font-size: 24px;
      text-transform: uppercase; }
    #wdysf_quotes .wdysf_quote .intro h2 {
      text-transform: uppercase;
      font-size: 38px; }
  #wdysf_quotes .wdysf_quote .quote {
    height: 900px;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 100px 100px; }
    #wdysf_quotes .wdysf_quote .quote #contButton {
      font-size: 36px;
      color: rgba(255, 255, 255, 0.8);
      width: 300px;
      height: 40px;
      margin: 100px auto;
      padding: 20px 0px 20px 5px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background-color: rgba(40, 40, 40, 0.8); }

#wdysf_synopses {
  width: 100%;
  height: 100%; }
  #wdysf_synopses .wdysf_synopsis {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 0px;
    height: 1080px;
    margin: 0 auto; }
    #wdysf_synopses .wdysf_synopsis .visuals {
      width: 1300px;
      height: 0px; }
      #wdysf_synopses .wdysf_synopsis .visuals .photo {
        background: url(../img/laborrights.jpg);
        width: 1200px;
        height: 830px;
        float: left;
        margin: 50px 50px 25px 50px; }
      #wdysf_synopses .wdysf_synopsis .visuals .caption {
        position: relative;
        color: white;
        display: block;
        width: 1250px;
        text-align: right; }
    #wdysf_synopses .wdysf_synopsis .sidebar {
      float: right;
      width: 620px;
      color: white; }
      #wdysf_synopses .wdysf_synopsis .sidebar .intro {
        margin: 50px; }
        #wdysf_synopses .wdysf_synopsis .sidebar .intro h1 {
          text-transform: uppercase;
          font-size: 24px; }
        #wdysf_synopses .wdysf_synopsis .sidebar .intro h2 {
          text-transform: uppercase;
          font-size: 38px; }
      #wdysf_synopses .wdysf_synopsis .sidebar .description {
        margin: 50px 140px 100px 50px;
        font-size: 1.5em; }
        #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton {
          font-size: 34px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.8);
          width: 180px;
          height: 35px;
          margin: 100px 0px;
          padding: 20px 0px 20px 0px;
          border: 1px solid rgba(255, 255, 255, 0.8);
          background-color: rgba(40, 40, 40, 0.8); }
          #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton img {
            padding: 0px 20px;
            float: left; }
          #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton p {
            width: 200px; }

footer {
  z-index: 1;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
  footer .container {
    width: 100%;
    text-align: center;
    padding-top: 25px; }
    footer .container div {
      margin: 17px 70px;
      display: inline-block;
      *display: inline;
      text-align: center;
      font-size: 24px;
      opacity: .8; }
  footer h1 {
    font-family: 'Futura LT Light', Futura, sans-serif;
    text-transform: uppercase;
    padding: 35px;
    opacity: .8;
    display: inline-block;
    float: left; }
  footer .homeBtn {
    float: right;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 28px;
    opacity: .5;
    line-height: 114px;
    padding: 0px 45px; }

#timeline {
  white-space: nowrap;
  display: inline-block; }
  #timeline .images {
    clear: both;
    height: 400px; }
    #timeline .images .image {
      display: inline-block;
      border: none;
      height: 400px; }
      #timeline .images .image img {
        border-right: 1px solid #b9b9b9; }
    #timeline .images .quote {
      padding: 0px 40px 0px 40px;
      background-color: rgba(185, 185, 185, 0.3);
      width: 520px;
      height: 400px;
      font-family: 'Futura';
      font-size: 44px;
      text-transform: uppercase;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid #b9b9b9;
      white-space: normal; }
  #timeline #events {
    clear: both;
    font-family: 'Futura';
    text-align: center;
    display: inline-block;
    float: left; }
    #timeline #events .text {
      height: 60px;
      background-color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      clear: both;
      float: left;
      white-space: nowrap;
      overflow: auto; }
      #timeline #events .text .event {
        font-size: 24px;
        color: #b9b9b9;
        width: 800px;
        padding-top: 21px;
        display: inline-block;
        position: relative; }
    #timeline #events .top {
      padding-left: 400px; }
    #timeline #events .bottom {
      margin-left: 0; }
    #timeline #events #dates {
      display: inline-block;
      clear: both;
      float: left;
      width: 100%;
      white-space: nowrap;
      overflow: auto;
      height: 60px;
      font-size: 28px;
      background-color: rgba(255, 255, 255, 0.5); }
      #timeline #events #dates .date, #timeline #events #dates .date-top, #timeline #events #dates .date-bottom {
        line-height: 70px;
        height: 100%;
        width: 400px;
        padding-top: 0px;
        display: inline-block;
        background-repeat: no-repeat; }
      #timeline #events #dates .date-top {
        background-image: url("../img/timeline/up_arrow.png");
        background-position: bottom; }
      #timeline #events #dates .date-bottom {
        background-image: url("../img/timeline/down_arrow.png");
        background-position: top; }

/*# sourceMappingURL=style.css.map */
