html {
  width: 100%;
  height: 100%; }

.showCursor-false {
  cursor: none; }

.showCursor-true {
  cursor: auto; }

* {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; }
@font-face {
  font-family: Futura LT Light, "Trebuchet MS", Arial, sans-serif; }
body {
  background: url(../img/bg_water.jpg) no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Futura;
  height: 100%;
  overflow: hidden; }

#wrapper {
  width: 100%;
  height: 100%; }

header h1 {
  margin-top: 55px;
  margin-left: 180px;
  font-size: 61px;
  margin-bottom: 0; }
header h2 {
  font-family: Futura;
  font-size: 77px;
  text-align: right;
  margin-right: 210px;
  margin-top: 0;
  font-weight: lighter; }
header h3 {
  text-align: center;
  font-size: 100px;
  font-weight: normal; }
header .message {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.9); }
header .description {
  width: 695px;
  height: 75px;
  float: right;
  padding: 20px 80px 20px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.3em; }

#main {
  width: 100%;
  height: 995px;
  position: relative;
  padding: 0px 0px 100px 0px; }
  #main #topLevelButtons {
    margin-left: auto;
    margin-right: auto; }
  #main .sectionButton, #main #sectionButton2 {
    background: url(../img/home_1.jpg);
    width: 486px;
    height: 686px;
    position: relative;
    margin: 50px 7% 0 15%;
    box-shadow: 0px 0px 50px #888888;
    float: left; }
    #main .sectionButton span, #main #sectionButton2 span {
      position: absolute;
      bottom: 0;
      color: white;
      font-size: 38px;
      padding: 20px 30px;
      text-transform: uppercase; }
    #main .sectionButton:before, #main #sectionButton2:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom left, transparent 0%, black 100%); }
  #main #sectionButton2 {
    background: url(../img/home_2.jpg);
    float: right;
    margin: 50px 16% 0px 0%; }

video {
  z-index: -1;
  position: absolute;
  background-color: black; }

#aboutPages {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  color: white; }
  #aboutPages .aboutPage {
    padding: 50px; }
    #aboutPages .aboutPage h1 {
      text-transform: uppercase;
      font-size: 3em; }
    #aboutPages .aboutPage p {
      padding: 10px 0px; }
    #aboutPages .aboutPage .copy {
      font-size: 1.5em;
      width: 960px; }
    #aboutPages .aboutPage .logo {
      background: url(../img/ilwu_logo.png) no-repeat;
      width: 362px;
      height: 362px; }

#wdysf {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px; }
  #wdysf #wdysf_main {
    width: 100%;
    height: 995px;
    position: relative;
    padding-top: 140px; }
    #wdysf #wdysf_main #wdysfButton, #wdysf #wdysf_main #wdysfButton2, #wdysf #wdysf_main #wdysfButton3, #wdysf #wdysf_main #wdysfButton4, #wdysf #wdysf_main #wdysfButton5, #wdysf #wdysf_main #wdysfButton6 {
      background: url(../img/wdysf_laborrights_alt.jpg);
      width: 580px;
      height: 255px;
      position: relative;
      margin: 0px 5px 5px 0px;
      box-shadow: 0px 0px 50px #888888;
      float: left; }
      #wdysf #wdysf_main #wdysfButton span, #wdysf #wdysf_main #wdysfButton2 span, #wdysf #wdysf_main #wdysfButton3 span, #wdysf #wdysf_main #wdysfButton4 span, #wdysf #wdysf_main #wdysfButton5 span, #wdysf #wdysf_main #wdysfButton6 span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 38px;
        padding: 10px 20px;
        text-transform: uppercase; }
      #wdysf #wdysf_main #wdysfButton:before, #wdysf #wdysf_main #wdysfButton2:before, #wdysf #wdysf_main #wdysfButton3:before, #wdysf #wdysf_main #wdysfButton4:before, #wdysf #wdysf_main #wdysfButton5:before, #wdysf #wdysf_main #wdysfButton6:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%, black 100%); }
    #wdysf #wdysf_main #wdysfButton2 {
      background: url(../img/wdysf_rehabilitation.jpg);
      width: 650px; }
    #wdysf #wdysf_main #wdysfButton3 {
      background: url(../img/wdysf_econjustice.jpg);
      width: 680px;
      margin: 0px 0px 5px 0px; }
    #wdysf #wdysf_main #wdysfButton4 {
      background: url(../img/wdysf_civilrights.jpg);
      width: 630px; }
    #wdysf #wdysf_main #wdysfButton5 {
      background: url(../img/wdysf_affordablehousing.jpg);
      width: 640px; }
    #wdysf #wdysf_main #wdysfButton6 {
      background: url(../img/wdysf_intlsolidarity.jpg);
      width: 640px;
      margin: 0px 0px 5px 0px; }

#wdysf_quotes .wdysf_quote {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: -50px; }
  #wdysf_quotes .wdysf_quote .intro {
    width: 100%;
    height: 120px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); }
    #wdysf_quotes .wdysf_quote .intro h1 {
      position: relative;
      color: black;
      font-size: 24px;
      text-transform: uppercase; }
    #wdysf_quotes .wdysf_quote .intro h2 {
      text-transform: uppercase;
      font-size: 38px; }
  #wdysf_quotes .wdysf_quote .quote {
    height: 900px;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 100px 100px; }
    #wdysf_quotes .wdysf_quote .quote #contButton {
      font-size: 36px;
      color: rgba(255, 255, 255, 0.8);
      width: 300px;
      height: 40px;
      margin: 100px auto;
      padding: 20px 0px 20px 5px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background-color: rgba(40, 40, 40, 0.8); }

#wdysf_synopses {
  width: 100%;
  height: 100%; }
  #wdysf_synopses .wdysf_synopsis {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 0px;
    height: 100%;
    margin: 0 auto; }
    #wdysf_synopses .wdysf_synopsis .visuals {
      width: 1300px;
      height: 0px; }
      #wdysf_synopses .wdysf_synopsis .visuals .photo {
        background: url(../img/laborrights.jpg);
        width: 1200px;
        height: 830px;
        float: left;
        margin: 50px 50px 25px 50px; }
      #wdysf_synopses .wdysf_synopsis .visuals .caption {
        position: relative;
        color: white;
        display: block;
        width: 1250px;
        text-align: right; }
    #wdysf_synopses .wdysf_synopsis .sidebar {
      float: right;
      width: 620px;
      color: white; }
      #wdysf_synopses .wdysf_synopsis .sidebar .intro {
        margin: 50px; }
        #wdysf_synopses .wdysf_synopsis .sidebar .intro h1 {
          text-transform: uppercase;
          font-size: 24px; }
        #wdysf_synopses .wdysf_synopsis .sidebar .intro h2 {
          text-transform: uppercase;
          font-size: 38px; }
      #wdysf_synopses .wdysf_synopsis .sidebar .description {
        margin: 50px 140px 100px 50px;
        font-size: 1.5em; }
        #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton {
          font-size: 34px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.8);
          width: 180px;
          height: 35px;
          margin: 100px 0px;
          padding: 20px 0px 20px 0px;
          border: 1px solid rgba(255, 255, 255, 0.8);
          background-color: rgba(40, 40, 40, 0.8); }
          #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton img {
            padding: 0px 20px;
            float: left; }
          #wdysf_synopses .wdysf_synopsis .sidebar .description #backButton p {
            width: 200px; }

footer {
  z-index: 1;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
  footer .container {
    width: 100%;
    text-align: center;
    padding-top: 25px; }
    footer .container div {
      margin: 17px 70px;
      display: inline-block;
      *display: inline;
      text-align: center;
      font-size: 24px;
      opacity: .8; }
  footer h1 {
    /*font-family: Futura LT Pro;*/
    text-transform: uppercase;
    padding: 35px;
    opacity: .5;
    display: inline-block;
    float: left; }
  footer .homeBtn {
    float: right;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 28px;
    opacity: .5;
    line-height: 114px;
    padding: 0px 45px; }
