<strong>The Ten Guiding Principles of the ILWU.</strong>
<ol>
    <li>I. A Union is built on its members.</li>
    <li>II. Labor unity is at all times the key for a successful economic advancement.</li>
    <li>III. Workers are indivisible.</li>
    <li>IV. “To help any worker in distress” must be a daily guide in the life of every trade union and its individual members.</li>
    <li>V. Any union, if it is to fulfill its appointed task, must put aside all internal differences and issues to combine for the common cause of advancing the welfare of the membership.</li>
    <li>VI. The days are long gone when a union can consider dealing with single employers.</li>
    <li>VII. Just as water flows to its lowest level, so do wages if the bulk of the workers are left unorganized.</li>
    <li>VIII. The basic aspiration and desires of the workers throughout the world are the same.</li>
    <li>IX. A new type of unionism is called for which does not confine its ambitions and demands only to wages</li>
    <li>X. Jurisdictional warfare and jurisdictional raiding must be outlawed by labor itself.</li>
</ol>