<!-- Template for Timeline Detail and maybe can also be used for issue synopsis detal -->
<div id="section-detail">

        <div class="visuals">
            <div class="photo">
                <img src="img/timeline/large/{{currentImage}}.jpg">
            </div>
            <div class="caption">{{images[currentImage].caption}}</div>
        </div>

        <div class="sidebar">
            <div class="description">
                <div>{{images[currentImage].description}}</div>
                <div id="backButton" ui-sref="timeline">
                    <div>
                        <img src="img/arrow_left.png" />
                        <p>Back</p>
                    </div>
                </div>
            </div>
        </div>
        
</div>