<!-- Template for Timeline Detail and maybe can also be used for issue synopsis detail -->
<div id="section-detail">

        <div class="visuals">
            <div class="photo">
                <img src="img/timeline/large/{{detailID+1}}.jpg">
            </div>
            <div class="caption">{{images[detailID].caption}}</div>
        </div>

        <div class="sidebar">
            <div class="description">
                <div>{{images[detailID].description}}</div>
                <div id="backButton" ui-sref="timeline">
                    <div>
                        <img src="img/arrow_left.png" />
                        <p>Back</p>
                    </div>
                </div>
            </div>
        </div>

</div>