<!-- Template for Timeline Detail and maybe can also be used for issue synopsis detail -->
<div id="section-detail">
        <div id="push-down" ng-if="images[detailID].quote"></div>
        <div class="visuals">
            <div class="photo">
                <!-- display image IF there is no quote -->
                <img src="img/timeline/large/{{images[detailID].id}}.jpg" ng-if="!images[detailID].quote">
                <!-- ELSE display quote -->
                <div id="quote" ng-if="images[detailID].quote">
                    {{images[detailID].quote}}
                </div>
            <div class="caption">{{images[detailID].caption}}</div>
            </div>
            
        </div>

        <div class="sidebar">
            <div class="description">
                <!-- PARTIAL FOR DESCRIPTION TEXT -->
                <div>
                    <ng-include src="'partials/timeline/'+images[detailID].id+'.html'"></ng-include>
                </div>
                <!-- sources -->
                <div id="sources" ng-if="images[detailID].sources">
                    <h1>Source{{images[detailID].sources.length > 1 ? "s":""}}</h1>
                    <div class="source" ng-repeat="source in images[detailID].sources">
                        {{source}}
                    </div>
                </div>
                <div id="backButton" ui-sref="timeline" ng-click="backToTimeline()">
                    <div>
                        <img src="img/arrow_left.png" />
                        <p>Back</p>
                    </div>
                </div>
            </div>
        </div>

</div>