<div id="timeline">
    <div class="images">
    	<div class="image" ng-repeat="image in topImages">
    		<img src="img/timeline/small/{{image.id}}.jpg" alt="">
    	</div>
    </div>
    
    <div id="events">
    	
    	<div class="text">
    	
    	</div>
    	
    	<div id="dates">
    		<div class="date" ng-repeat="event in events">
    			{{event.year}}
    		</div>
    	</div>

    	<div class="text">
    	
    	</div>

    </div>

    <div class="images">
    	<div class="image" ng-repeat="image in bottomImages">
    		<img src="img/timeline/small/{{image.id}}.jpg" alt="">
    	</div>
    </div>
</div>