<div id="timeline" ng-mousemove="onMouseMove($event)" ng-mousedown="startDrag($event)" ng-mouseup="stopDrag($event)">
    <div class="images">
    	<div class="image" ng-repeat="image in images" ng-switch on="image.quote" ng-if="image.pos=='top'" ng-click="clickOnDetail($index)">

    		<img src="img/timeline/small/{{$index+1}}.jpg" ng-switch-when="" >
    		
    		<div class="quote" ng-switch-default>
    			{{image.quote}}
    		</div>

    	</div>
    </div>
    <div id="events">
    	<!--EVENT TEXT TOP-->
    	<div class="text top" >
    		<div class="event" ng-repeat="event in events" ng-if="$index%2==1">
    			{{event.text}}
    		</div>
    	</div>

    	<!--YEARS-->
    	<div id="dates">
    		<div class="date-{{$index%2 ? 'bottom':'top'}}" ng-repeat="event in events">
    			{{event.year}}
    		</div>
    	</div>

    	<!--EVENT TEXT BOTTOM-->
    	<div class="text bottom">
    		<div class="event" ng-repeat="event in events" ng-if="$index%2==0">
    			{{event.text}}
    		</div>
    	</div>

    </div>

    <div class="images">
    	<div class="image" ng-repeat="image in images" ng-switch on="image.quote" ng-if="image.pos=='bottom'" ng-click="clickOnDetail($index)">

    		<img src="img/timeline/small/{{$index+1}}.jpg" ng-switch-when="">

    		<div class="quote" ng-switch-default>
    			{{image.quote}}
    		</div>

    	</div>
    </div>
</div>