<div id="timeline" draggable="true">
    <div class="images">
    	<div class="image" ng-repeat="image in topImages" ng-switch on="image.quote">
    		<img src="img/timeline/small/{{image.id}}.jpg" ng-switch-when="">
    		<div class="quote" ng-switch-default>
    			{{image.quote}}
    		</div>
    	</div>
    </div>
    
    <div id="events">
    	
    	<div class="text">
    	
    	</div>
    	
    	<div id="dates">
    		<div class="date" ng-repeat="event in events">
    			{{event.year}}
    		</div>
    	</div>

    	<div class="text">
    	
    	</div>

    </div>

    <div class="images">
    	<div class="image" ng-repeat="image in bottomImages" ng-switch on="image.quote">

    		<img src="img/timeline/small/{{image.id}}.jpg" ng-switch-when="">

    		<div class="quote" ng-switch-default>
    			{{image.quote}}
    		</div>
    	</div>
    </div>
</div>