<!doctype html>
<html ng-app ng-controller="uiCtrl" class="showCursor-{{hideMouse}}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title></title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body ng-app="jrh" ng-keyup="onKeyUp($event)">

    <video id="videoPlayer" width="100%" height="100%" ng-show="videoPlaying" controls poster="">

      <source ng-src="{{'video/jimmy_story.'+type}}" type="video/{{type}}" ng-repeat="type in ['mp4', 'webm', 'ogg']">
    </video>

    <div id="wrapper" ng-hide="videoPlaying" >
      <div id="homeScreen" ng-show="showHomeScreen">
        <header>
          <h1>JAMES R. HERMAN MEMORIAL</h1>
          <h2>TIDES OF CHANGE</h2>
        </header>

        <div class="sectionButton" ng-click="playVideo()">
          <span>Watch<br>Jimmy's Story</span>
        </div>
      </div>

      <div id="aboutPages">
        <h1></h1>
      </div>

      <footer>
        <div class="container" ng-hide="footerMenuIsHidden">
          <div ng-repeat="fi in footerItems" ng-click="selectFooterMenu($index)">{{fi.label}}</div>
        </div>
        
        <h1 ng-show="footerMenuIsHidden" ng-click="goHome()">James R. Herman Memorial</h1>
        <div class="homeBtn" ng-show="footerMenuIsHidden" ng-click="goHome()">HOME</div>

      </footer>
   </div>

    <script src="js/angular1.2.js"></script>
    <script src="js/controller.js"></script>

  </body>

</html>