<div id="homeScreen" ng-show="showHomeScreen">
    <header>
        <h1>JAMES R. HERMAN MEMORIAL</h1>
        <h2>TIDES OF CHANGE</h2>
<!--         <div class="message" ng-hide="debug">
            <h3>NO PHOTOS PLEASE</h3>
            <h3>Installation in progress</h3>
        </div> -->
    </header>

    <div id="topLevelButtons" ng-hide="debug">
        <div style="background-image:url(img/home/home_{{$index+1}}.jpg);" class="sectionButton" ng-click="onTopLevelClick($index)" ng-repeat="page in topLevelPages">
            <span >{{page.title}}</span>
        </div>
    </div>

    <div id="instruction">
        touch a photo to start
    </div>

</div>

